
/*---------------------------------Containers------------------------------------*/
.top-container{
  padding-top: 220px;
  padding-bottom:0;
  position: relative;
  margin-bottom: 200px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  display: inline-block;
}

.skill-row-text1 {
  text-align: left;
}

.skill-row-text2 {
  text-align: right;
}

.bottom-container {
  margin-top: 100px;
  background-color: #B4846C;
  padding: 30px;
}
/*================================================================================*/

.lisense {
  color: #D6E6F2;
  font-weight: bold;
  line-height: 2;
}

.btn {
  position: relative;
  top: 30px;
  background: #7D5A50;
  background-image: -webkit-linear-gradient(top, #B4846C, #7D5A50);
  background-image: -moz-linear-gradient(top, #B4846C, #7D5A50);
  background-image: -ms-linear-gradient(top, #B4846C, #7D5A50);
  background-image: -o-linear-gradient(top, #B4846C, #7D5A50);
  background-image: linear-gradient(to bottom, #B4846C, #7D5A50);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #D6E6F2;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #E5B299;
  text-decoration: none;
}

.intro {
  width: 30%;
  margin: 20px auto 20px auto;
}

/*---------------------------------Elements---------------------------------------*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFE3E3;
  color: #000000;
  font-size: 18px;
}

h1 {
  font-family: 'Oooh Baby', cursive;
  font-size: 3rem;
  margin: 50px auto 0 auto;
  color: #7D5A50;
}

h2 {
  font-size: 1.7rem;
  color: #B4846C;
}

h3 {
  color: #B4846C;
  font-weight: normal;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  width: 2%;
  margin: 75px;
  display: inline-block;
  color: #393E46;
  opacity: 0.1;
}

a {
  color: #7D5A50;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

p {
  line-height: 2;
}
/*=================================================================================*/

/*------------------------------------Images-----------------------------------*/

.cloud1 {
  position: absolute;
  width: 260px;
  top: 0;
  right: 400px;

}

.cloud2 {
  position: absolute;
  top: 400px;
  left: 400px;
  width: 150px;

}

.mountain1 {
  margin-top: 20px;
  width: 400px;
}

.profile-pic {
  width: 200px;
}

.coding-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.cooking-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}
/*=================================================================================*/
