
/*---------------------------------Containers------------------------------------*/
.top-container{
  padding-top: 220px;
  padding-bottom:0;
  margin-bottom: 50px;
  position: relative;
}
/*================================================================================*/

/*---------------------------------Elements---------------------------------------*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFE3E3;
}

h1 {
  font-family: 'Oooh Baby', cursive;
  font-size: 3rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-size: 1.5rem;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  width: 2%;
  margin: 75px;
  display: inline-block;
  color: #393E46;
  opacity: 30%;
}
/*=================================================================================*/

/*------------------------------------Images-----------------------------------*/

.cloud1 {
  position: absolute;
  width: 270px;
  top: 0;
  right: 500px;

}

.cloud2 {
  position: absolute;
  top: 300px;
  left: 600px;
  width: 150px;

}

.mountain1 {
  margin-top: 20px;
  width: 400px;
}

.profile-pic {
  width: 200px;
}

.coding-img {
  width: 150px;
}

.cooking-img {
  width: 150px;
}
/*=================================================================================*/
